---
interface Props {
  imgUrl: string;
  title: string;
  title_sub?: string;
  link: string;
  text: string;
}
const {
  imgUrl = "",
  title = "",
  link = "",
  title_sub = "",
  text = "",
} = Astro.props;
---

<a
  href={link}
  class="mx-2 flex h-[18.5rem] w-[19rem] flex-col items-center justify-evenly rounded-2xl border-2 duration-500 hover:h-96"
>
  <div>
    <img src={imgUrl} />
  </div>
  <div class="flex flex-col items-center font-libre text-4xl">
    <p>{title}</p>
    <p>{title_sub}</p>
  </div>
  <div class="rounded-2xl bg-white">
    <p class="px-3 py-1 text-sm text-pink-550">{text}</p>
  </div>
</a>
