---
const { eventName, eventFacultyTh, eventFacultyEng, eventDate, eventTime } =
  Astro.props;
---

<eventBox>
  <div
    class="mb-10 flex h-fit w-72 flex-col justify-between rounded-2xl border-2 border-solid border-white p-4 text-white shadow-md backdrop-blur-md"
  >
    <h2 class="mb-1 text-2xl font-bold">{eventName}</h2>
    <p class="text-base">{eventFacultyTh}</p>
    <p class="mb-1 text-sm">{eventFacultyEng}</p>
    <div class="flex">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        class="icon-[mdi--calendar-blank-outline] mr-3 mt-1 p-0"
      >
      </svg>
      <p class="text-base">{eventDate}</p>
    </div>
    <div class="flex">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        class="icon-[mdi--alarm-clock] mr-3 mt-1 rounded-full"
      >
      </svg>
      <p class="text-base">{eventTime}</p>
    </div>
  </div>
</eventBox>
