---
interface Props {
  eventName: string;
  eventFacultyTh: string;
  eventFacultyEng: string;
  eventDate?: string;
  eventTime?: string;
  eventPlace?: string;
}

const {
  eventName,
  eventFacultyTh,
  eventFacultyEng,
  eventDate,
  eventTime,
  eventPlace,
} = Astro.props;
---

<div
  class="flex h-fit w-72 max-w-full flex-col justify-between gap-2 rounded-2xl border-2 border-white p-4 text-white shadow-inner shadow-white"
>
  <h2 class="text-2xl font-bold">{eventName}</h2>
  <div class="flex flex-col">
    <p>{eventFacultyTh}</p>
    <p class="text-sm">{eventFacultyEng}</p>
  </div>
  <div class="grid grid-cols-[30px_minmax(0,1fr)] gap-y-2">
    {
      eventDate && (
        <>
          <i class="icon-[mdi--calendar-blank-outline] text-2xl" />
          <p>{eventDate}</p>
        </>
      )
    }
    {
      eventTime && (
        <>
          <i class="icon-[mdi--alarm-clock] text-2xl" />
          <p>{eventTime}</p>
        </>
      )
    }
    {
      eventPlace && (
        <>
          <i class="icon-[mdi--map-marker] text-2xl" />
          <p>{eventPlace}</p>
        </>
      )
    }
  </div>
</div>
