---
import BaseLayout from "@/layouts/BaseLayout.astro";
import EventInfoBox from "@/components/EventRegister/EventInfoBox.tsx";
import EventForm from "@/components/EventRegister/EventForm";
const {
  eventName = "SESSION TALK WITH AJARN",
  eventDate = "20-21 January 2024",
  eventFaculty = "คณะสถาปัตยกรรมศาสตร์ / Faculty of Architecture",
  eventLocation = "อาคารมหาจักรีสิรินธร ห้องอเนกประสงค์ ชั้น 9 / Maha Chakri Sirindhorn Building, 9th floor, Multipurpose room",
  eventTime = "10:00-17:00",
} = Astro.props;
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="m-16 flex max-w-xl flex-col items-center font-medium text-white">
    <h1
      class="text-shadow-lg text-6xl font-bold leading-normal tracking-wide text-white"
    >
      ลงทะเบียนกิจกรรม
    </h1>
    <h1
      class="mb-12 font-libre text-3xl font-bold text-white underline underline-offset-[10px]"
    >
      Event registration
    </h1>
    <h1 class="mb-4 text-center text-5xl font-bold text-white">{eventName}</h1>
    <h2 class="mb-10 text-center text-2xl font-bold text-white">
      {eventFaculty}
    </h2>
    <EventInfoBox
      eventDate={eventDate}
      eventTime={eventTime}
      eventLocation={eventLocation}
    />
    <EventForm
      eventDate={eventDate}
      eventName={eventName}
      eventFaculty={eventFaculty}
      eventTime={eventTime}
      client:load
    />
  </div>
</BaseLayout>
