---
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Day from "@/components/Landing/Day";
import Card from "@/components/Landing/Card.astro";
import Register from "@/components/Landing/Register";

import logo from "@/assets/oph-logo.svg";
import idcard_mobile from "@/assets/idcard-mobile.svg";
import faqs_bg from "@/assets/faqs-mobile.svg";
import faqs from "@/assets/faqs.svg";
import idcard from "@/assets/idcard.svg";
---

<BaseLayout>
  <div class="flex min-h-screen w-full flex-col justify-center px-4 text-white">
    <div class="flex flex-col items-center justify-evenly md:flex-row">
      <div class="flex flex-col items-center md:items-start">
        <div class="my-2.5 mb-8 h-28 w-80 md:mb-0 md:h-auto md:w-auto">
          <Image src={logo} alt="logo" width="522" height="233" />
        </div>
        <h1 class="mt-2.5 font-libre text-base font-bold md:ml-10 md:text-3xl">
          Chula Open House 2024
        </h1>
        <p class="mb-10 text-base font-medium md:ml-10">20-21 January 2024</p>
        <Register />
      </div>
      <Day client:load />
    </div>
    <div class="mt-24 flex flex-col items-center justify-center md:mt-0">
      <div
        class="mb-12 mt-16 w-3/5 text-center text-base font-medium md:mb-24 md:w-2/5 md:text-lg"
      >
        <p>
          ทุกความฝันที่สวยงามล้วนเริ่มต้นจากชิ้นส่วนเล็ก ๆ เสมอ
          ไม่เป็นอะไรเลยถ้าตอนนี้ทุกคนยังไม่เห็นภาพเส้นทางที่จะเดินไปในอนาคต
          เพราะการมางาน CU Open House 2024
          จะช่วยเติมเต็มภาพเหล่านั้นให้ชัดเจนขึ้นได้แน่นอน
          อย่าลืมมาร่วมต่อชิ้นส่วนแห่งความฝันและตัวตนไปด้วยกันนะ!
        </p>
      </div>
      <section
        class="relative flex w-full max-w-5xl flex-col items-center justify-center"
      >
        <div
          class="flex h-12 w-full items-center justify-center rounded-2xl border-2 px-5 py-2 font-bold"
        >
          <div
            class="mr-2 flex h-8 w-16 justify-center rounded-full border-2 border-white bg-pink-600"
          >
            <p class="text-lg">Live</p>
          </div>
          <p>ชื่อรายการ</p>
        </div>
        <div
          class="my-2 mb-10 aspect-video w-full rounded-2xl border-2 border-white bg-indigo-950"
        >
        </div>
      </section>
    </div>
    <div
      class="mb-20 flex w-full flex-col items-center justify-center md:h-96 md:flex-row md:items-end"
    >
      <Card
        imageNo={0}
        title="CHULA"
        title_sub="NAVIGATOR"
        link="/navigator"
        text="แผนที่และวิธีการเดินทางทั่วจุฬาฯ"
      />
      <Card
        imageNo={1}
        title="EVENTS"
        text="กิจกรรมต่าง ๆ ในงาน"
        link="/events"
      />
      <Card
        imageNo={2}
        title="FACULTIES"
        link="/faculties"
        text="รวมข้อมูลทุกคณะในจุฬาฯ"
      />
    </div>
    <div class="mb-6 flex flex-col justify-center md:flex-row">
      <a href="/profile" class="group">
        <div class="mb-2 flex justify-center">
          <picture>
            <source media="(min-width: 768px)" srcset={idcard.src} />
            <Image
              src={idcard_mobile}
              alt="idcard background"
              class="h-auto w-auto"
            />
          </picture>
          <div
            class="absolute translate-y-40 font-libre text-4xl font-bold md:translate-y-16"
          >
            <p class="text-xl font-medium md:text-2xl">Your</p>
            <p>Chula</p>
            <p>Open House</p>
            <p>2024</p>
            <p>Profile</p>
            <div
              class="group mt-2 flex w-fit items-center gap-1 rounded-2xl bg-white px-3 py-1 font-ibm"
            >
              <p class="text-sm text-pink-550 duration-200 group-hover:pr-4">
                คลิกที่นี่/ Click here
              </p>
              <i
                class="icon-[mdi--arrow-right-bold-circle] text-xl text-pink-550"
              ></i>
            </div>
          </div>
        </div>
      </a>
      <a href="/faqs" class="group flex justify-center">
        <picture>
          <source media="(min-width: 768px)" srcset={faqs.src} />
          <Image src={faqs_bg} alt="faqs background" class="h-auto w-auto" />
        </picture>
        <div
          class="absolute flex translate-y-1/2 flex-col items-center justify-center text-4xl font-bold"
        >
          <p
            class="mb-20 translate-y-6 text-[13rem] font-medium duration-200 group-hover:font-bold md:mb-20 md:text-[15rem]"
          >
            ?
          </p>
          <p class="font-libre md:mt-3.5">FAQs</p>
          <div class="mt-2 rounded-2xl bg-white">
            <p class="px-3 py-1 text-sm text-pink-550">รวมข้อมูลเกี่ยวกับงาน</p>
          </div>
        </div>
      </a>
    </div>
    <div
      class="mx-auto grid w-fit grid-cols-1 justify-center gap-4 md:grid-cols-2"
    >
      <a
        href="#"
        class="flex w-full flex-col items-center justify-center rounded-2xl border-2 border-white px-20 py-1 text-center shadow-inner shadow-white duration-200 hover:bg-white/25"
      >
        <span class="text-xl font-bold">สูจิบัตร</span>
        <span class="font-libre font-bold">Program</span>
      </a>
      <a
        href="#"
        class="flex w-full flex-col items-center justify-center rounded-2xl border-2 border-white px-20 py-1 text-center shadow-inner shadow-white duration-200 hover:bg-white/25"
      >
        <span class="text-xl font-bold">แบบประเมิน</span>
        <span class="font-libre font-bold">Feedback Form</span>
      </a>
    </div>
  </div>
</BaseLayout>
