---
import TextBox from "../TextBox.astro.tsx";
import DropDown from "../DropDown.tsx";
import RadioBox from "../RadioBox.astro.tsx";
const days: string[] = Array.from({ length: 31 }, (_, index) =>
  (index + 1).toString()
);
const months: string[] = [
  "มกราคม / January",
  "กุมภาพันธ์ / February",
  "มีนาคม / March",
  "เมษายน / April",
  "พฤษภาคม / May",
  "มิถุนายน / June",
  "กรกฎาคม / July",
  "สิงหาคม / August",
  "กันยายน / September",
  "ตุลาคม / October",
  "พฤศจิกายน / November",
  "ธันวาคม / December",
];
const years: string[] = ["2547 / 2004"];
const provinces: string[] = ["กรุงเทพมหานคร / Bangkok"];
const countries: string[] = ["ญี่ปุ่น / Japan"];
---

<personalInfoBox>
  <div class="mb-12 flex w-screen flex-shrink-0 flex-col items-center p-0">
    <div class="question-box m-0 flex w-4/5 max-w-xl flex-col items-center p-0">
      <div
        class="mb-1 h-fit w-full rounded-2xl border-2 border-solid border-white p-9 shadow-inner backdrop-blur-2xl"
      >
        <label class="text-base font-medium text-white">
          ชื่อ (และชื่อกลาง) / First name (and middle name)*
        </label>
        <div class="mb-4">
          <TextBox
            placeHolder="ไม่ต้องใส่คำนำหน้า / without titles"
            name="firstName"
          />
        </div>
        <label class="text-base font-medium text-white"
          >นามสกุล / Last name*</label
        >
        <div class="mb-12">
          <TextBox name="lastName" />
        </div>
        <label class="text-base font-medium text-white">
          วัน เดือน ปีเกิด / Birth date
        </label>
        <div class="mb-16 flex w-full justify-between space-x-3">
          <div class="h-12 w-1/3">
            <DropDown
              defaultVal="วันที่ / Date"
              options={days}
              name="dayOfBirth"
            />
          </div>
          <div class="h-12 w-1/3">
            <DropDown
              defaultVal="เดือน / Month"
              options={months}
              name="monthOfBirth"
            />
          </div>
          <div class="h-12 w-1/3">
            <DropDown
              defaultVal="ปี / Year"
              options={years}
              name="yearOfBirth"
            />
          </div>
        </div>
        <label class="text-base font-medium text-white"
          >ที่อยู่ / Residence*</label
        >
        <div class="mb-6 mt-2 flex flex-row justify-between">
          <div class="flex w-1/2">
            <RadioBox name="residence" name="residence" value="Thailand" />
            <label class="text-medium text-base text-white"
              >ในประเทศไทย / Thailand</label
            >
          </div>
          <div class="h-12 w-1/2">
            <DropDown
              defaultVal="จังหวัด / Province"
              name="province"
              options={provinces}
            />
          </div>
        </div>
        <div class="flex flex-row justify-between">
          <div class="flex w-1/2">
            <RadioBox
              name="residence"
              name="residence"
              value="Other countries"
            />
            <label class="text-medium text-base text-white"
              >ต่างประเทศ / Other countries</label
            >
          </div>
          <div class="h-12 w-1/2">
            <DropDown
              defaultVal="ประเทศ / Country"
              name="country"
              options={countries}
            />
          </div>
        </div>
      </div>
      <p class="place-self-end text-xs text-white">
        จำเป็นต้องกรอก / Must be filled*
      </p>
    </div>
  </div>
</personalInfoBox>
