---
import FacultyDetailBox from "./FacultyDetailBox.astro";
---

<registrationBox5>
    <div class="w-screen flex flex-shrink-0 flex-col items-center p-0 mb-12">
        <div class="max-w-xl w-full p-0 m-0 flex-col flex items-center">
            <div class="h-fit w-full rounded-2xl border-2 border-solid border-white p-9 mb-1 flex flex-col items-center">
                <p class="text-medium text-base text-white mb-5 place-self-start">คณะที่สนใจที่สุด (ไม่เกิน 3 คณะ) / Faculties interested (maximum: 3)</p>
                <div class="w-full " id="FacultyDetailBoxes">
                    <FacultyDetailBox number="1" haveDepartMent="true" haveFaculty="true" haveSection="true" name="interested1"/>
                    <FacultyDetailBox number="2" haveDepartMent="true" haveFaculty="true" haveSection="true" name="interested2"/>
                </div>
                <input type="button" value="เพิ่ม / Add more +" class="bg-white rounded-2xl p-1 text-pink-500 text-xs w-32 h-6 place-self-end" id="addButton5"/>
            </div>
            
        </div>
    </div>
</registrationBox5>

<script>
    const addButton = document.getElementById('addButton5')
    const FacultyDetailBoxes = document.getElementById('FacultyDetailBoxes')
    addButton.addEventListener('click', ()=>{
        FacultyDetailBoxes.innerHTML += `
        <div class="w-full border-2 border-solid border-white h-fit flex p-6 rounded-2xl mb-8">
            <p class="text-white text-3xl mr-12 p-1">3</p>
            <div class="flex flex-col w-4/5 space-y-3">
                <div class="flex flex-col space-y-1 h-fit">
                    <label class="text-white text-base">คณะ / Faculty</label>
                    <div class="w-4/5 h-12">
                        <select class="rounded-2xl w-full h-full p-1 text-pink-400 text-xs" name="interested3Faculty">
                            <option value="-" selected disabled >คณะ / Faculty</option>
                            {faculties.map((option) => (
                                <option value={option}>{option}</option>
                            ))}
                        </select>
                    </div>
                </div>
                <div class="flex flex-col space-y-1 h-fit">
                    <label class="text-white text-base">ภาควิชา / Department</label>
                    <div class="w-4/5 h-12">
                        <select class="rounded-2xl w-full h-full p-1 text-pink-400 text-xs" name="interested3Department">
                            <option value="-" selected disabled >ภาควิชา / Department</option>
                            {departments.map((option) => (
                                <option value={option}>{option}</option>
                            ))}
                        </select>
                    </div>
                </div>
                <div class="flex flex-col space-y-1 h-fit">
                    <label class="text-white text-base">สาขาวิชา / Section</label>
                    <div class="w-4/5 h-12">
                        <select class="rounded-2xl w-full h-full p-1 text-pink-400 text-xs" name="interested3Section">
                            <option value="-" selected disabled >สาขาวิชา / Section</option>
                            {sections.map((option) => (
                                <option value={option}>{option}</option>
                            ))}
                        </select>
                    </div>
                </div>

            </div>
        </div>
        `
        addButton.hidden = true;
    })
    
</script>

